 
<div class="intro">



<section>
<big  >  <p> 
<span>
“El objetivo de la enseñanza del Evangelio... es inspirar a la persona a meditar, sentir y luego hacer algo para vivir los principios del Evangelio” 
<span>    </p> 

<p> Presidente Thomas S. Monson. </p> 
</section>




</p> <p>
Nuestro propósito en este sitio web, es ayudar a los maestros de seminario a comunicarse con sus  jóvenes mediante resúmenes o comentarios sobre la clase de turno, en estos tiempo donde la enseñanza en aulas se ha hecho inviable debido a la crisis mundial causada por covid-19.
 
</p> <p>
Este humilde servidor ya ha "copiado" varios resúmenes de muestra (de lo subrayado en mi Libro de Mormón). En principio,  su Libro de Mormón debe ser la fuente principal para la preparación de su resumen (o resúmenes o comentarios), ya que en esencia,  este resumen debe estar constituido por fragmentos del Libro de Mormón, con excepción de algunas líneas que pueden ser añadidas con la única intención de darle continuidad al texto.  

</p> <p>


Para enviar un resumen solo tienes que clickear en cualquiera de los títulos habilitados. No está de más, recordarle a los maestros que su resumen será leído generalmente por niños y jóvenes, de manera que debe mantener su escrito lo más sencillo posible.  

</p> <p>
Por otro lado, los lectores deben procurar comprender el contexto, es decir: la trama, las personas, los lugares y los  acontecimientos, tal como lo aconseja el manual de seminario, en los siguientes puntos : 
 
</p>

<section> <big  >  <p> <span>

 <ol>
 <li>
Entorno: En los relatos de las Escrituras, determina quién
está hablando, la persona o las personas a quienes
se está dirigiendo, de qué está hablando, y cuándo y
dónde ocurre el acontecimiento. 

 <li>
Visualización: Conforme vayas leyendo, busca detalles
descriptivos que te ayuden a crear una imagen mental.


 <li>
Meditación: La meditación incluye el pensar, reflexionar,
hacer preguntas y evaluar lo que sabes y lo que has
aprendido. 
 </ol>

<span>      </big></section> 

</p> <p>


En efecto, la ideas detrás de estas lecturas es:

<li class="li-intro">
Explorar las maneras de “meditar y sentir ".</li>
 <li class= "li-intro">
Entender las circunstancias y el entorno de las Escrituras
</li>

 </p> 
 
<p>
El entendimiento del contexto y la continua práctica de la meditación  
nos conducirá a las revelaciones, un ejemplo sencillo de ello, lo vemos en esta 
declaración del presidente Gordon B. Hinckley acerca del racismo en el mundo.
 </p> 


<section><big  >  <p> <span>

Aunque la piel oscura se usó como una señal de la maldición 
que cayó sobre los lamanitas, el Libro de Mormón enseña que el Señor
“a nadie de los que a él vienen desecha, sean negros o
blancos... todos son iguales ante Dios”. 

<span>    </p>  </big>
</section> <br>





<div>




